<%= content_for :javascript do %>
  <%= javascript_include_tag "authors" %>
<% end %>

<h1>Listing authors</h1>

<div class="author_list">
  <table>
    <tbody>
      <% @authors.each do |author| %>
        <tr class="author_info">
          <td class="first_name"><%= author.first_name %></td>
          <td class="last_name"><%= author.last_name %></td>
          <td><%= link_to 'Show', author %></td>
          <td><span class="js-delay-show" data-href="<%= url_for author %>">Delayed Show</span></td>
          <td><%= link_to 'Show In New Window', author, :target => '_blank' %></td>
          <td><%= link_to 'Edit', edit_author_path(author) %></td>
          <td><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Author', new_author_path %>
