<% form_for @book do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.text_field :title %>
  <div id="book_index">
    <% f.fields_for :index do |index_form| %>
      <%= index_form.text_field :pages %>
    <% end %>
  </div>

  <% f.fields_for :author do |auth_form| %>
    <%= auth_form.text_field :first_name %>
  <% end %>

  <%= f.submit %>
<% end %>
