<% javascript_tag do %>
  document.observe("dom:loaded", function() {
    Event.observe($$('.hide_star').first(), 'click', function() {
      Element.hide($$('.star').first());
    });

    Event.observe($$('.show_star').first(), 'click', function() {
      Element.show($$('.star').first());
    });

    Event.observe($$('.remove_star').first(), 'click', function() {
      Element.remove($$('.star').first());
    });
  });
<% end %>

<div id="rating">
  <a class="hide_star">Hide Star</a>
  <a class="show_star">Show Star</a>
  <a class="remove_star">Remove Star</a>

  <span class="star">*</span>
</div>

<% form_for @author do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
        <% @author.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :first_name %>
  <%= f.text_field :last_name %>

  <div id="author_books">
    <div class="some-books-fool">
      <% f.fields_for :books do |book_form| %>
        <div class="row">
          <%= book_form.label :title %>
          <%= book_form.text_field :title %>
          <% book_form.fields_for :index do |index_form| %>
            <%= index_form.text_field :pages %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <%= f.submit %>
<% end %>
